repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [
          "--fix",
          "--config", "pyproject.toml",
        ]
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
        args: [ "--config", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
